


<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
      <div class="card-header">
       <h4> <strong>Froggy Hero</strong></h4>
      </div>
      <div class="card-block" *ngIf="hero">
        <div class="form-group">
          <label for="Name">Froggy Name</label>
          <input [(ngModel)]="hero.name"  class="form-control" id="Name" placeholder="Enter froggy name" type="text">
        </div>
        <div class="form-group">
          <label for="Mating">Mating</label>
          <input [(ngModel)]="hero.Mating"  class="form-control" id="Mating" placeholder="Enter Mating" type="text">
        </div>
        <div class="form-group">
          <label for="Gender">Gender</label>
          <select [(ngModel)]="hero.Age"  class="form-control" id="Gender">
            <option value="volvo">Male</option>
            <option value="saab">Female</option>
          </select>

        </div>
        <div class="form-group">
          <label for="Birthday">Birthday</label>
          <input [(ngModel)]="hero.Age" type ="date" class="form-control" id="Birthday" placeholder="Enter your froggy name">
        </div>
        <div class="form-group">
          <label for="Species">Species</label>
          <input [(ngModel)]="hero.Species"  class="form-control" id="Species" placeholder="Enter your froggy name" type="text">
        </div>
        <div class="form-group">
          <label for="Status">Status</label>
          <input [(ngModel)]="hero.Status"  class="form-control" id="Status" placeholder="Enter your froggy name" type="text">
        </div>
        <div class="form-group row">
          <button class="btn btn-warning btn-lg btn-space pull-right" (click)="goBack()">Back</button>
          <button class="btn btn-success btn-lg btn-space pull-right" (click)="save()">Save</button>

       </div>
        </div>
      </div>
    </div>

  </div>







