<div id="search-component">

  <!--<input class="formControl col-md-6" #searchBox id="search-box" (keyup)="search(searchBox.value)" />-->

<!--<div class="form-group">
  <label for="search-box">Froggy Search:</label>
  <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" >
</div>-->
<ul class="nav navbar-nav navbar-left">
        <li class="navbar-search hidden-sm">
          <input id="search" type="text"  #searchBox  placeholder="Search.." (keyup)="search(searchBox.value)">

          <button class="btn-search"><i class="">Go</i></button>
        </li>
</ul>

  <div>
    <div *ngFor="let hero of heroes | async"
         (click)="gotoDetail(hero)" class="search-result" >
      {{hero.name}}
    </div>
  </div>
</div>
