.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

#search-box{
  width: 200px;
  height: 20px;
  border: 1px solid lightgray;
}


.btn-search {
          width: 40px;
          height: 40px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border: 1px solid #dfe6e8;
          border-left: none;
          background-color: transparent;
          color: #dfe6e8;
          font-size: 1.4em;
          
           }
