<!--<h2>My Heroes</h2>
<ul class="heroes">



  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="hero-element">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </span>
    <button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
  </li>



</ul>-->


<!DOCTYPE html>
<html>
<head>
  <title></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="./assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/flat-admin.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/theme/yellow.css">

</head>
<body>
  <div class="app app-default">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="active">
        <a (click)="gotoDashboard()">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li class="active">
        <a (click)="refresh()">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Frogy</div>
        </a>
      </li>

    </ul>
  </div>

</aside>

<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>
<div class="app-container">

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button"  class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Frogy</span> </a>
        </li>
        <li>
          <button type="button" class="navbar-toggle">
            <img class="profile-img" src=",/assets/images/profile.jpg">
          </button>
        </li>
      </ul>

    
      
      
    </div>
  </div>
</nav>

  <div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>
  <button type="button" (click)="addHero()" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Shortcut</span>
  </button>
  <div class="toggle-content">
    <ul class="actions">
     
    </ul>
  </div>
</div>

<div class="error" *ngIf="error">{{error}}</div>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div *ngIf="addingHero">
  <div class="col-md-12 Absolute-Center">
        <my-hero-detail (close)="close($event)"></my-hero-detail>
  </div>
</div>

<div class="row">




  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-mini">
      <div class="card-header">
        <div class="card-title">Frogy List</div>
        <ul class="card-action">
          <li>
            <a href="/">
              <i class="fa fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body no-padding table-responsive">
        <table class="table card-table">
          <thead>
            <tr>
              <th>Frogs Id</th>
              <th>Frogs Name</th>
              <th class="right">Mating</th>
              <th>Genders</th>
              <th>Birth</th>
              <th>Species</th>
              <th>Status</th>
              <th><th>

            </tr>
          </thead>
          <tbody *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <tr>
              <td>{{hero.id}}</td>
              <td class="right">{{hero.name}}</td>
              <td class="right">{{hero.Mating}}</td>
              <td class="right">{{hero.Gender}}</td>
              <td class="right">{{hero.Age}}</td>
              <td class="right">{{hero.Species}}</td>

              <td>
                <div *ngIf="hero.Health === 'Yes'">
                <span class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Healthy</span></span>
                </div>
                <div *ngIf="hero.Health === 'No'">
                <span class="badge badge-warning badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Sick</span></span>
                </div>

              </td>
              <td>
               <button class="btn btn-danger btn-xs btn-space" (click)="deleteHero(hero, $event)">Delete</button>
               <button class="btn btn-info btn-xs" (click)="deleteHero(hero, $event)">Edit</button>
              </td>
            </tr>
       
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
</div>
  <footer class="app-footer"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-copyright">
        Copyright © 2017 Mohamed Sibathullah
      </div>
    </div>
  </div>
</footer>
</div>

  </div>
  
  <script type="text/javascript" src="./assets/js/vendor.js"></script>
  <script type="text/javascript" src="./assets/js/app.js"></script>

</body>
</html>
